# Dependencies necessary for the Data Quality features to work.
#
# ! Do not forget running `make build-lock-files` after updating dependency list !
#
great-expectations==1.11.0
marshmallow==3.26.2
# Note: Numpy is not a direct dependency.
# It is included temporarily to prevent version conflicts.
#numpy==1.26.4 #dbr17 uses 2.1.3
# Fixing the version to solve known vulnerabilities
requests==2.32.4 # when updating also update in all files dbr17 uses 2.32.3
