# Special requirements from which the project depends on, but for which some use cases might use environments with
# these dependencies pre-installed from the vendors. Thus, they are delivered as optional OS dependencies.
#
# ! Do not forget running `make build-lock-files` after updating dependency list !
#
pyspark==3.5.0
delta-spark==3.2.0