# Dependencies necessary for azure related features to work (ex: mail notifications using o365).
#
# ! Do not forget running `make build-lock-files` after updating dependency list !
#
msgraph-sdk==1.40.0
aiohttp==3.12.14 # msgraph-sdk uses a version with known vulnerabilities
h2==4.3.0 # msgraph-sdk uses a version with known vulnerabilities
nest-asyncio==1.6.0
msal==1.33.0
urllib3==2.5.0 # msal uses a version with known vulnerabilities
# Fixing the version to solve known vulnerabilities
requests==2.32.4 # when updating also update in all files