{#
On this Jinja template we're extending a pre-existing template,
copying the block on which we would like to make changes and
adding both the "View Example" summary tag and the "View Full Acon" button.
#}
{% extends "default/module.html.jinja2" %}
{% block title %}{{ module.modulename }}{% endblock %}
{% block nav_submodules %}
        {% if module.submodules %}
            <h2>Submodules</h2>
            <ul>
                {% for submodule in module.submodules if is_public(submodule) | trim %}
                    <li><a href="./{{ module.name }}/{{ submodule.name }}.html">{{ submodule.name.replace("_"," ").title() }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}
{% block module_contents %}
    {% for m in module.flattened_own_members if is_public(m) | trim %}
        <section id="{{ m.qualname or m.name }}">
            {{ member(m) }}
            {% if m.type == "class" %}
                {% for m in m.own_members if m.type != "class" and is_public(m) | trim %}
                    <div id="{{ m.qualname }}" class="classattr">
                        {{ member(m) }}
                        {% if m.fullname | highlight_examples %}
                            {{ view_example(m.fullname) }}
                        {% endif %}
                        {% if m.fullname | link_example %}
                            {{ view_full_acon(m.fullname) }}
                        {% endif %}
                    </div>
                {% endfor %}
                {% set inherited_members = inherited(m) | trim %}
                {% if inherited_members %}
                    <div class="inherited">
                        <h5>Inherited Members</h5>
                        <dl>
                            {{ inherited_members }}
                        </dl>
                    </div>
                {% endif %}
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}
{% block attribution %}
{% endblock %}

{% block module_info %}
    <section class="module-info">
        {% block edit_button %}
            {% if edit_url %}
                {% if "github.com" in edit_url %}
                    {% set edit_text = "Edit on GitHub" %}
                {% elif "gitlab" in edit_url %}
                    {% set edit_text = "Edit on GitLab" %}
                {% else %}
                    {% set edit_text = "Edit Source" %}
                {% endif %}
                <a class="pdoc-button git-button" href="{{ edit_url }}">{{ edit_text }}</a>
            {% endif %}
        {% endblock %}

        {% if "lakehouse_engine" == module.modulename.split(".")[0] %}
            {{ module_name() }}
        {% endif %}
        {{ docstring(module) }}
        {% if "lakehouse_engine" == module.modulename.split(".")[0] %}
            {{ view_source_state(module) }}
            {{ view_source_button(module) }}
            {{ view_source_code(module) }}
        {% endif %}
    </section>
{% endblock %}

{#
On this macro we're creating the "View Example" structure.
#}
{% defaultmacro view_example(doc) %}
    <details>
    <summary>View Example</summary>
    {{ doc | highlight_examples }}
    </details>
{% enddefaultmacro %}

{#
On this macro we're creating the "View Full Acon" structure.
#}
{% defaultmacro view_full_acon(doc) %}
    <section>
        {% set edit_text = "View Full Acon" %}
        <a class="pdoc-button git-button" href="{{ doc | link_example }}" target="_blank">{{ edit_text }}</a>
    </section>
    </br>
    </br>
{% enddefaultmacro %}
